.stretch-container{
    width: 100%;
}
.stretch-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.card-section{
    margin-top: 100px;
}
.card-section > .card{
    border: 2px solid teal;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.card > .card-left{
    padding: 10px 20px;
}
.card > .card-left > .btn{
    color: teal;
    margin-top: 10px;
    font-size: 32px;
    cursor: pointer;
}
.card > .card-right > img{
    width: 150px;
    height: 160px;
    padding: 10px 20px;
}

@media only screen and (max-width: 700px){
    .wrapper-heading{
        text-align: center;
    }
    .card-section{
        width: 100%;
        margin-top: 10px;
    }
    .card-right > img{
        padding: 10px 0px;
    }
}